{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}
{% block base_main_inner %}
    <div class="col-md-12 wk-mp-landingpage wk-mp-landingpage-layout1">
        {% if config('WebkulMVMarketplace.config.displayBanner') %}
            <div class="wk-mp-banner-container">
                <div class="wk-mp-banner" style="background-image: url({{configData.bannerImage.url}});">  
                    <div class="wk-mp-header">
                        <h1>{{config('WebkulMVMarketplace.config.buttonLabel')}}</h1>
                        {{config('WebkulMVMarketplace.config.bannerContent')|raw}}
                        <p><a href="{{path('frontend.account.login.page')}}"><button class="button wk-mp-landing-button"><span> <span> <strong>
                        {{config('WebkulMVMarketplace.config.buttonLabel')}}</strong></span></span></button></a></p>
                    </div>
                </div>
            </div>
        {% endif %}
        <h1 class="wk-marketplace-label">{{config('WebkulMVMarketplace.config.pageLabel1')}}</h1>
        {% if config('WebkulMVMarketplace.config.displayIcon') %}
        <div class="wk-mp-icon-container wk-mp-landingpage-one-icon-container">
            <div class="wk-mp-icon-wraper">
                <div class="wk-mp-icon">
                    <img src="{{configData.feature1Media.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/>
                </div>
                <span class="wk-marketplace-label-span">{{config('WebkulMVMarketplace.config.feature1Label')}}</span>
            </div>
            <div class="wk-mp-icon-wraper">
                <div class="wk-mp-icon">
                    <img src="{{configData.feature2Media.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/>
                </div>
                <span class="wk-marketplace-label-span">{{config('WebkulMVMarketplace.config.feature2Label')}}</span>
            </div>
            <div class="wk-mp-icon-wraper">
                <div class="wk-mp-icon">
                    <img src="{{configData.feature3Media.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/>
                </div>
                <span class="wk-marketplace-label-span">{{config('WebkulMVMarketplace.config.feature3Label')}}</span>
            </div>
            <div class="wk-mp-icon-wraper">
                <div class="wk-mp-icon"><img src="{{configData.feature4Media.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/>
                </div>
                <span class="wk-marketplace-label-span">{{config('WebkulMVMarketplace.config.feature4Label')}}</span>
            </div>
        </div>
        {% endif %}
        <h1 class="wk-marketplace-label">{{config('WebkulMVMarketplace.config.pageLabel2')}}</h1>
        <div class="wk-mp-landing-sellers-container">
        {% for seller in sellers %}
            {% if seller.storeSlug %}
                {% set customerId = seller.storeSlug %}
            {% else %}
                {% set customerId = seller.customerId %}
            {% endif %}

            {% set publicProfilePath = path('frontend.marketplace.seller.public.profile', { customerId: customerId }) %}
            <div class="wk-mp-landing-sellers-wraper ">
                <div class="wk-mp-landing-sellers">
                    {# <div class="wk-mp-landing-sellers-img1">
                        <a href="" title=""><img src=""></a> 
                        <a href="" title=""><img src=""></a>
                    </div> #}
                    <div class="wk-mp-landing-sellers-img2">
                        <a href=""><img src="{{seller.mediaOwner.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/></a>
                    </div>
                    <div class="wk-mp-landing-sellers-logo">
                        <a href=""><img src="{{seller.mediaLogo.url}}" onerror="this.src=`${'{{ environment }}' == 'dev' ? window.location.origin : window.baseUrl}/bundles/webkulmvmarketplace/storefront/seller-profile/default/default.svg`"/></a>
                    </div>
                    <div class="wk-mp-landing-sellers-details">
                        <div><a href="{{publicProfilePath}}" title="View Seller's Shop"><strong>{{seller.storeSlug}}</strong></a></div>
                        <div>{{seller.noOfProducts}} {{"wk-mp.seller-profile.productsLabel"|trans}}</div>
                        <a href="{{publicProfilePath}}"><button class="btn btn-primary" title="View Seller's Collection"><span> <span> {{"wk-mp.seller-profile.viewAllButtonText"|trans}}</span></span></button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="wk-mp-label3-container">
            <div class="wk-mp-label3">
                <h3 class="wk-marketplace-label-about">{{config('WebkulMVMarketplace.config.pageLabel3')}}</h3>
                <a href="{{ path('frontend.marketplace.sellers') }}">
                <button class="button wk-mp-landing-button"><span> <span> {{"wk-mp.seller-profile.viewAllButtonText"|trans}}</span></span></button></a>
            </div>
        </div>
        <h1 class="wk-marketplace-label">{{config('WebkulMVMarketplace.config.pageLabel4')}}</h1>
        <div class="about-marketplace">{{config('WebkulMVMarketplace.config.aboutMarketplace')|raw}}</div>
        <a href="{{path('frontend.account.login.page')}}"><button class="button wk-mp-landing-button" style="margin-top:10px;"><span> <span> <strong>{{config('WebkulMVMarketplace.config.buttonLabel')}}</strong></span></span></button></a>
    </div>
{% endblock %}